@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Introducing Cardekho</h1>
   
    <a asp-controller="Dealer" asp-action="Index" class="btn btn-primary">Explore Dreams</a>
</div>


